# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual envs
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Secrets
.env
.env.*
secrets.json
settings_local.py

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Build
dist/
build/
*.egg-info/
